BOT_TOKEN=
ADMINS=
CARD=
ADMIN=
DB_DIR=/app/data

PUBLIC_SUB_URL=https://vpn.fishvpn.ru
SUB_PORT=8080
VPN_VERIFY_SSL=false

VPN_NODE_1_KEY=nl
VPN_NODE_1_FLAG=🇳🇱
VPN_NODE_1_NAME=FishVpn NL Direct
VPN_NODE_1_PROFILE_NAME=Netherlands
VPN_NODE_1_PANEL=https://2.26.137.48:2765/WEB_PATH
VPN_NODE_1_USERNAME=
VPN_NODE_1_PASSWORD=
VPN_NODE_1_INBOUND_ID=1
VPN_NODE_1_HOST=2.26.137.48
VPN_NODE_1_PORT=8443
VPN_NODE_1_NETWORK=tcp
VPN_NODE_1_SECURITY=reality
VPN_NODE_1_PUBLIC_KEY=LYyEuBxrUf5drCMZmLnA9CG_yuh5EQEG0tqgn5HnkS0
VPN_NODE_1_SHORT_ID=c8efbd7feeec
VPN_NODE_1_SNI=www.cloudflare.com
VPN_NODE_1_FINGERPRINT=qq
VPN_NODE_1_FLOW=xtls-rprx-vision
VPN_NODE_1_SPIDER_X=/

VPN_NODE_2_KEY=ru
VPN_NODE_2_FLAG=🇷🇺
VPN_NODE_2_NAME=RU Beeline
VPN_NODE_2_PROFILE_NAME=Russia (Билайн)
VPN_NODE_2_HOST=194.113.35.21
VPN_NODE_2_PORT=443
VPN_NODE_2_NETWORK=tcp
VPN_NODE_2_SECURITY=reality
VPN_NODE_2_PUBLIC_KEY=WhFx3RcZ4LH_4DH-DbcjlckFfpP2N50Ky2qloxrs1lA8
VPN_NODE_2_SHORT_ID=26b1
VPN_NODE_2_SNI=ads.x5.ru
VPN_NODE_2_FINGERPRINT=qq
VPN_NODE_2_FLOW=xtls-rprx-vision
VPN_NODE_2_SPIDER_X=/
VPN_NODE_2_FIXED_UUID=c6b3c161-040d-4f15-aa33-c1c5bcfc92bc
